body{
    background-color: white;
}

.W{
     font-family: "Roboto Condensed", sans-serif;
}

.t{
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-align: center;

    margin-top: 80px;
}
.cc{
    font-size: 30px;
    padding: 30px;
    display: flex;
    color: white;
    background-size: 100em 50px;
}
body{
    background-image: url("licensed-image.jpg");
 .bb{
    text-align: center;

}
.t{
    margin-top: 6em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.x{ 
   margin-top: -30px;
   color: white;
   text-shadow: 2px 2px 4px #000000;
   font-size: 30px;
}



.r{
   display: flex;
   
    
}

    

}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  padding: 10px;
  width: 40em;
  height: 90px;
  border-radius: 40px;
  margin-left: 25em;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  margin-left: 80em;
  border-radius: 30px;
  
}

.vb{
   font-family:"Lora", serif;
   font-size: bold;   
}
.z{
    width: 60px;
    height: 60px;
}
.cb{
    border-radius: 10px;
    width: 5em;
    height: 90px;
    font-family: "Lora", serif;
    font-size: 40px;
     border: none;
     transition: 0.4s ease;
     

    
} 
p{
    display: none;
}
}
.cb:hover p{
    display:flex;
    font-size: 30px;width:300px;
    height:50px;
    text-shadow: -1px 0 white,0 1px white, 1px 0 white, 0 -1px white;
    position:absolute;
    font-family:cursive;
    text-align: center;
    cursor: pointer;
}
.ve{
    border-radius: 10px;
    font-family: "Lora", serif;
    font-size: 40px;
    width: 5em;
    height:90px;
     border: none;
     transition: 0.4s ease;
}
.ve:hover p{
    display:flex;
    font-size: 30px;width:300px;
    height: 50px;
     text-shadow: -1px 0 white,0 1px white, 1px 0 white, 0 -1px white;
    position:absolute;
    font-family:cursive;
    text-align: center;
    cursor: pointer;

}
.ve:hover{
    transform:scale(1.5);
}
.cb:hover{
    transform: scale(1.5);
}
.snow{
    position:fixed;
    top:1vh;
    font-size:20px;
    animation: snowrain 6s linear forwards;
    transition: tranform 1s;

}
@keyframes snowrain{
    to{
        transform:translateY(100vh);
    }
}