body{
    background-color: lightgreen;
}


.e{
    text-align: center;
    
}
.v{
    font-size:  40px;
}
.b{
    width: 30em;
    height: 40px;
}
.n{
    font-size: 40px;

}
.m{
    width: 30em;
    height: 40px;
}
.z{
    width: 40px;
    height: 40px;
}